<div class="stores">
  <h4>Add Store:</h4>
  <form class="" action="/store/add" method="post">
    <label for="storeName">Store Name:</label><input type="text" name="storeName" value="">
    <input type="submit" name="submit" value="Add Store">
  </form>
</div>
