<div class="brands">
  <h4>Add Store:</h4>
  <form class="" action="/brand/add" method="post">
    <label for="brandName">Brand Name:</label><input type="text" name="brandName" value="">
    <input type="submit" name="submit" value="Add Brand">
  </form>
</div>
